{# empty Twig template #}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
    <head>
        <title>{{constant('TITULO')}} | Administración de Condominios</title>
        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="El mejor servicio de administracion de Condominios en Margarita, Porlarmar, Nueva Esparta, Inmobiliaria, Bienes Raices.">
        <meta name="keywords" content="Administracion de Condominios en Margarita, Condominios Administración, Administradora de Condominio">
        <meta name="author" content="Pronet21.com">

        <meta name="DC.Title" content="{{constant('TITULO')}} | Administración de Condominios" />
        <meta name="DC.Description" content="El mejor servicio de administracion de Condominios en Margarita, Porlarmar, Nueva Esparta, Inmobiliaria, Bienes Raices." />
        <meta name="DC.Creator" content="pronet21.com" />
        <meta name="DC.Type" content="Servicio" />
        <meta name="VW96.Objectype" content="document" />
        <meta name="revisit" content="1 days" />

        <link rel="shortcut icon" href="favicon.ico">  
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,300italic,400italic,500italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
        <!-- Global CSS -->
        <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">   
        <!-- Plugins CSS -->    
        <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css">
        <!-- REVOLUTION SLIDER -->
        <link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
        <link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
        <!-- Theme CSS -->
        <link id="theme-style" rel="stylesheet" href="assets/css/styles.css">

        <script>
            /*(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
             (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
             m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
             })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
         
             ga('create', 'UA-4533943-18', 'auto');
             ga('send', 'pageview');*/

        </script>


    </head> 

    <body data-spy="scroll" data-target="#page-nav">   
        <!-- ******HEADER****** --> 
        <header id="header" class="header">  
            <div class="container">      
                <h1 class="logo">
                    <a href="/">
                        <!--img src="assets/images/logo.svg" alt=""-->
                        <span class="text">Condominios Margarita</span>
                    </a>
                </h1><!--//logo-->
                <nav class="main-nav navbar-right" role="navigation">
                    <div class="navbar-header">
                        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button><!--//nav-toggle-->
                    </div><!--//navbar-header-->
                    <div id="navbar-collapse" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active nav-item"><a class="scrollto" href="#inicio">Inicio</a></li>
                            <li class="nav-item"><a class="scrollto" href="#overview-section">Nuestra Empresa</a></li>
                            <li class="nav-item"><a class="scrollto" href="#servicios">Nuestros Servicios</a></li>
                            <li class="nav-item"><a class="scrollto" href="#contact-section">Contáctenos</a></li>
                            <li class="nav-item nav-item-cta last"><a class="btn-signup" href="#" data-toggle="modal" data-target="#login-modal">Condominio en línea</a></li>
                        </ul><!--//nav-->
                    </div><!--//navabr-collapse-->
                </nav><!--//main-nav-->                     
            </div><!--//container-->
        </header><!--//header-->      

        <section class="promo-section section section-on-bg" id="inicio">
            <div class="hero-slider-wrapper">
                <div class="flexslider hero-slider">
                    <ul class="slides">
                        <li class="slide slide-1"></li>
                        <li class="slide slide-2"></li>
                        <li class="slide slide-3"></li>
                        <li class="slide slide-4"></li>
                    </ul>
                </div>
                <div class="hero-slider-mask"></div>
            </div><!--//hero-slider-wrapper--> 
            <div class="container promo-content">
                <h2 class="headline">Excelencia a tu alcance.</h2>
                <p class="tagline">Comience a disfrutar de nuestro servicio en línea!</p>
                <div class="actions">
                    <a class="btn btn-cta btn-danger" href="#" data-toggle="modal" data-target="#login-modal">Condominio en línea</a>  
                    <!--br class="visible-xs-block"-->
                    <!--a href="#" class="play-trigger" data-toggle="modal" data-target="#modal-video" ><img class="play-icon" src="assets/images/play-icon.svg" alt="">See how it works</a-->
                </div>
            </div><!--//container-->
        </section><!--//promo-section-->

        <div class="page-nav-space-holder hidden-xs">
            <div id="page-nav-wrapper" class="page-nav-wrapper text-center">
                <div class="container">
                    <ul id="page-nav" class="nav page-nav">
                        <li class="active nav-item"><a class="scrollto" href="#inicio">Inicio</a></li>
                        <li class="nav-item"><a class="scrollto" href="#overview-section">Nuestra Empresa</a></li>
                        <li class="nav-item"><a class="scrollto" href="#servicios">Nuestros Servicios</a></li>
                        <li class="nav-item"><a class="scrollto" href="#contact-section">Contáctenos</a></li>
                        <li class="nav-item nav-item-cta last"><a class="btn-signup" href="#" data-toggle="modal" data-target="#login-modal">Condominio en línea</a></li>
                    </ul><!--//page-nav-->
                </div>
            </div><!--//page-nav-wrapper-->
        </div><!--//page-nav-space-holder-->
        <section id="overview-section" class="overview-section section">
            <h2 class="section-title">
                Nuestra Empresa
            </h2>
            <div class="section-intro">
                <p>Somos profesionales en el área administrativa, con formación formal en los ramos de <strong>Bienes Raíces y Administración de Condominios</strong>, con más de 15 años de experiencia en el mercado insular y nacional.</p>
                <p>Ofrecemos un servicio personalizado, adaptado a las necesidades puntuales de cada condominio.</p>
                <p>Nos apoyamos en la tecnología adecuada, a través de un sistema en línea que le permitirá administrar su condominio en una forma fácil y práctica, además de brindar a los propietarios o residentes de cada condominio las facilidades para consultar su estatus de solvencia en cuanto a los pagos y la manera en como los recursos del condominio son administrados, lo cual genera transparencia y confianza en la gestión de la junta administradora.</p>
            </div><!--//section-intro-->
            <h3 class="section-title">Conceptos que nos describen:</h3>
            <div class="section-intro">
                <ul class="details-list list-unstyled">
                    <li>Servicio integral.</li>
                    <li>Asistencia permanente.</li>
                    <li>Comprometidos con nuestros clientes.</li>
                    <li>Innovadores en el ramo</li>
                    <li>Calidad y Excelencia</li>
                </ul>
            </div>
        </section>
        <section class="apps-section section text-center">
            <div class="container">
                <h2 class="section-title">Administración de Condominios</h2>
                <ul class="apps-list list-inline">
                    <li><a class="btn btn-download-app btn-windows-download" href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-desktop" aria-hidden="true"></i> <span class="btn-text"><span class="intro-text">Condominios Margarita</span><span class="main-text">Condominio en Línea</span></span></a></li>
                </ul><!--//apps-list-->
            </div><!--//container-->
        </section>
        <!--//overview-section-->

        <section id="servicios" class="features-section section" style="padding-bottom: 0; padding-top: 0">
            <div class="pricing-block" id="pricing-block" style="padding-bottom: 20px">
                <div class="container text-center">
                    <h2 class="section-title">Nuestros Servicios</h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="item item-1 col-xs-12 col-sm-12 col-md-6">
                            <div class="item-inner">
                                <div class="summary-box text-center">
                                    <h3 class="item-heading">Plan 1</h3>
                                    <div class="item-intro">Servicios Básicos de Administraciónd de Condominios</div>
                                    <!--//price-->


                                </div><!--//summary-box-->
                                <div class="details-box">
                                    <ul class="details-list list-unstyled">
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Facturación de los gastos mensuales del condominio</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Asesoría, cálculo y ejecución de partidas de previsiones</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Recaudación de los gastos facturados a los copropietarios</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Manejo y custodia del Libro de Asambleas</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Manejo y custodia de los libros de bancos</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Planificación, Elaboración y ejecución de pagos a proveedores</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Presentación anual de informe y cuentas de su gestión</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Presencia en el condominio según acuerdo entre las partes</li>
                                    </ul>
                                </div><!--//details-box-->

                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <!--//item-->
                        <div class="item item-2 item-popular col-xs-12 col-sm-12 col-md-6">
                            <div class="item-inner">

                                <div class="summary-box text-center">
                                    <h3 class="item-heading">Plan 2</h3>
                                    <div class="item-intro">Servicios Plus de Administración de Condominios</div>
                                    <!--//price-->
                                </div><!--//summary-box-->
                                <div class="details-box">
                                    <ul class="details-list list-unstyled">
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Facturación de los gastos mensuales del condominio</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Asesoría, cálculo y ejecución de partidas de previsiones</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Recaudación de los gastos facturados a los copropietarios</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Manejo y custodia del Libro de Asambleas</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Manejo y custodia de los libros de bancos</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Compras de Insumos limpieza y mantenimiento general</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Planificación, Elaboración y ejecución de pagos a proveedores</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Manejo de Nómina y obligaciones laborales (SSO, INCES, etc.), Así como captación y contratación de los colaboradores</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> Supervisión de áreas comunes semanal y reporte a la junta de condominio de las fallas o debilidades evaluadas</li>
                                        <li><i class="fa fa-check" aria-hidden="true"></i> De ser necesario, visitas al Condominio en el horario acordado con Junta, a fin de evaluar el avance de los presupuestos y obras en ejecución</li>
                                    </ul>
                                </div><!--//details-box-->

                            </div><!--//item-inner-->
                        </div><!--//item-->
                        <!--//item-->
                    </div><!--//row-->
                </div>
            </div>
        </section>
        <section id="avaluos" class="support-section section text-center" style="padding-top: 0">
            <h2 class="section-title">Servicios Opcionales</h2>
            <div class="container">
                <div class="row">
                    <div class="features-content-wrapper text-left col-lg-offset-1" style="margin-bottom: 0">
                        <ul class="feature-list list-unstyled">
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Servicio Limpieza y mantenimiento de áreas comunes, según lo requiera el condominio (Servicio de mantenimiento externo).</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Servicios de Jardinería: Mantenimiento y paisajismo.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Proveeduría de insumos (Bolsas para basura, químicos de limpieza, etc.)</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Servicios de Instalación y mantenimiento de Sistemas de Seguridad.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt=""> Servicios de Contabilidad formal.</li>
                            <li><img class="tick-icon" src="assets/images/tick.svg" alt="">  En el área de Bienes Raíces: alquiler, mercadeo y venta de Bienes Inmuebles.  Asesoría inmobiliaria en todo el proceso de comercialización y/o alquiler de su inmueble.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!--//inmobiliario-section-->
        <section id="avaluos" class="support-section section text-center" style="padding-top: 0">
            <h2 class="section-title">Bienes Raices</h2>
            <div class="container">
                <div class="row">
                    <div class="section-intro">Alquiler, mercadeo y venta de Bienes Inmuebles. Asesoría inmobiliaria en todo el proceso de comercialización de su inmueble..</div>
                </div>
            </div>
        </section><!--//inmobiliario-section-->

        <div class="support-section"><div class="team-figure">
                <img class="img-responsive support-team" src="assets/images/team.webp" alt="">
            </div><!--//team-figure--></div class="support-section">
        <section id="contact-section" class="signup-section section">
            <div class="section-inner">
                <div class="container text-center">
                    <div class="counter-container">
                    </div><!--//counter-container-->

                    <h2 class="counter-desc">Contáctenos</h2>

                    <div class="form-wrapper">
                        <h2 class="form-title">Complete el siguiente formulario</h2>
                        <div class="form-box">
                            <h3 class="form-heading">{{constant('TITULO')}}</h3>
                            <div class="form-desc">
                                Calle El Sol de Juan Griego, antes de la UE Antonio Díaz<br>
                                Horario corrido de Lunes a Jueves 8:00am a 4:00pm y Viernes de 8:00am a 2:00pm<br>
                                Email: condominiosmargarita.va@gmail.com<br>
                                Contactos: (0426) 937 2875 / (0424) 439 5777<br>
                            </div>
                            <form class="signup-form" name="contactenos-form" id="contactenos-form">
                                <div class="row">
                                    <div class="form-group col-xs-12 col-sm-6">
                                        <label for="nombres" class="sr-only">Nombre(s)</label>
                                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombre(s)">
                                    </div><!--//form-group-->
                                    <div class="form-group col-xs-12 col-sm-6">
                                        <label for="apellidos" class="sr-only">Apellido(s)</label>
                                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellido(s)">
                                    </div><!--//form-group-->
                                    <div class="form-group col-xs-12 col-sm-6">
                                        <label for="email" class="sr-only">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Dirección de correo electrónico">
                                    </div><!--//form-group-->
                                    <div class="form-group col-xs-12 col-sm-6">
                                        <label for="telefono" class="sr-only">Número Telefónico</label>
                                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Número telefónico">
                                    </div><!--//form-group-->
                                    <div class="form-group col-xs-12 col-sm-12">
                                        <label for="mensaje" class="sr-only">Mensaje</label>
                                        <textarea id="mensaje" name="mensaje" class="form-control" placeholder="Escriba aquí su mensaje"></textarea>
                                    </div>
                                </div><!--//row-->
                                <div class="legal-note">Un especilista lo estará contactando a la brevedad.</div>
                                <div id="contactenos-messages" class="text-center"></div>
                                <button type="submit" class="btn btn-danger btn-cta">Enviar</button>
                            </form><!--//form-->
                        </div><!--//form-box-->
                    </div><!--//form-wrapper-->

                </div><!--//container-->
            </div><!--//section-inner-->
        </section><!--//contact-section-->

        <!-- ******FOOTER****** --> 
        <footer class="footer">
            <div class="container">
                <div class="row text-center">
                    Calle El Sol de Juan Griego, antes de la UE Antonio Díaz.<br>
                    Horario corrido de Lunes a Jueves 8:00am a 4:00pm y Viernes de 8:00am a 2:00pm<br>
                    Email: condominiosmargarita.va@gmail.com<br>
                    Contactos:  (0426) 937 2875 / (0424) 439 5777<br>
                    <!--//footer-col-->
                    <!--//footer-col-->
                    <!--//footer-col-->
                    <!--//footer-col-->
                </div><!--//row-->
                <div class="divider"></div>
                <div class="footer-bottom text-center">
                    <ul class="social-media list-inline">
                        <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>

                    </ul>

                    <small class="copyright"><a href="http://www.proen21.com.ve/" target="_blank">Página Web</a> @ Pronet21</small> 
                </div>
            </div><!--//container-->
        </footer><!--//footer-->

        <!-- Video Modal -->
        <!--div class="modal modal-video" id="modal-video" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="videoModalLabel" class="modal-title sr-only">Video Tour</h4>
                    </div>
                    <div class="modal-body">
                        <div class="video-container embed-responsive embed-responsive-16by9">
                            <iframe id="vimeo-video" src="//player.vimeo.com/video/140875675?color=ffffff&amp;wmode=transparent" width="720" height="405" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                        </div><!--//video-container-->
        <!--/div><!--//modal-body-->
        <!--/div><!--//modal-content-->
        <!--/div><!--//modal-dialog-->
        <!--/div><!--//modal-->
        <!-- Login Modal -->
        <div class="modal modal-auth modal-login fade in" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="loginModalLabel" class="modal-title text-center">{{constant('TITULO')}}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="intro">Complete el siguiente formulario</p>
                        <div id="login-messages" class="text-center"></div>
                        <div class="login-form-container">
                            <form id="login-form" class="login-form" data-destination="{{constant('URL_SISTEMA')}}">
                                <div class="form-group email">
                                    <i class="material-icons icon">&#xE0BE;</i>
                                    <label class="sr-only" for="cedula">Código de usuario</label>
                                    <input id="cedula" name="cedula" type="text" class="form-control login-email required" placeholder="Código usuario / Número cédula">
                                </div><!--//form-group-->
                                <div class="form-group password">
                                    <i class="material-icons icon">&#xE897;</i>
                                    <label class="sr-only" for="password">Password</label>
                                    <input id="login" name="login" type="hidden" value="1">
                                    <input id="password" name="password" type="password" class="form-control login-password" placeholder="Password">
                                    <div class="extra">
                                        <div class="checkbox remember">
                                            &nbsp;
                                        </div><!--//check-box-->
                                        <div class="forgotten-password">
                                            <a href="#" id="resetpass-link" data-toggle="modal" data-target="#resetpass-modal">Olvidó su contraseña?</a>
                                        </div>
                                    </div><!--//extra-->
                                </div><!--//form-group-->
                                <button type="submit" class="btn btn-cta btn-block btn-danger">Ingresar <i class="material-icons">send</i></button>
                            </form>
                        </div><!--//login-form-container-->

                        <div class="option-container">
                            <!--div class="lead-text">Don't have an account?</div--> 
                            <!--a class="signup-link btn btn-ghost-alt" id="signup-link" href="#">Sign Up</a-->
                        </div><!--//option-container-->
                    </div><!--//modal-body-->

                </div><!--//modal-content-->
            </div><!--//modal-dialog-->
        </div><!--//modal-->
        <!-- Reset Password Modal -->
        <div class="modal modal-auth modal-resetpass" id="resetpass-modal" tabindex="-1" role="dialog" aria-labelledby="resetpassModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 id="resetpassModalLabel" class="modal-title text-center">Olvidó su password?</h4>
                    </div>
                    <div class="modal-body">
                        <div id="resetpass-messages" class="text-center"></div>
                        <div class="resetpass-form-container">
                            <p class="intro">Ingrese el correo electrónico que tenga registrado en nuestro sistema.</p>
                            <form class="resetpass-form" id="resetpass-form">                
                                <div class="form-group email">
                                    <i class="material-icons icon"></i>
                                    <label class="sr-only" for="email">Su Email</label>
                                    <input name="email" type="email" class="form-control login-email" placeholder="Su Email">
                                </div><!--//form-group-->
                                <button type="submit" class="btn btn-block btn-danger btn-cta" data-loading-text="Espere...">Procesar</button>
                            </form>
                        </div><!--//login-form-container-->
                        <div class="option-container">
                            <div class="lead-text">Deseo <a class="back-to-login-link" id="back-to-login-link" href="#">regresar a la pantalla de ingreso</a></div>                    
                        </div><!--//option-container-->
                    </div><!--//modal-body-->
                </div><!--//modal-content-->
            </div><!--//modal-dialog-->
        </div><!--//modal-->
        <!-- Javascript -->          
        <script type="text/javascript" src="assets/plugins/jquery-1.12.4.min.js"></script>
        <script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script> 
        <script type="text/javascript" src="assets/plugins/bootstrap-hover-dropdown.min.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery.validate.min.js"></script> 
        <script type="text/javascript" src="assets/plugins/back-to-top.js"></script>
        <script type="text/javascript" src="assets/plugins/jquery-scrollTo/jquery.scrollTo.min.js"></script>  
        <script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>     
        <script type="text/javascript" src="assets/js/main.js"></script>
        <!--script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script-->
        <!--script type="text/javascript" src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script-->
        <script type="text/javascript" src="assets/js/view/demo.revolution_slider.js"></script>
        <!--//Page Specific JS -->
        <script type="text/javascript" src="assets/js/home.js"></script>

    </body>
</html> 